.loginPage{
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    color: white;
    font-weight: 600;
    
}

.vitLogo{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vitPic{
    width: 340px;
    height: 350px;
    background-image: url('../photos/vitImage.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.loginButtons{
    width: 100%;
    height: 8em;
    display: flex;
    justify-content: space-evenly;
}

.loginButtons button{
    width: 384px;
    height: 100px;
    background: #8C1780;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: larger;
}

.studentLoginPic{
    width: 50px;
    height: 50px;
    background-image: url('../photos/image 3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.staffLoginPic{
    width: 50px;
    height: 50px;
    background-image: url('../photos/image 4.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.haveAnAccount{
    margin: 5px;
    padding: 5px;
    font-size: larger;
    font-weight: 500;
    color: white;
}

.signIn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 100px;
    margin: 5px;
    background: #8C1780;
    color: white;
    border-radius: 50px;
    font-size: larger;
}